.App {
  font-family: sans-serif;
  text-align: center;
}

.link-container {
  border: 1px solid black;
  width: fit-content;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 20px;
}
.link-container > a {
  text-decoration: none;
  color: blue;
  padding: 0 5px;
  border-right: 1px solid black;
}

.link-container > a:last-child {
  border-right: none;
}

.active {
  background: black;
  color: white;
  transition: 0.3s;
}
